@import "lib/color";

.top-border {
  border-top: solid black 1px;
}

.set-background {
  background-color: $lightOlive;
}

.sub-container {
  padding-bottom: 8px;
}

#progressbarparent {
  padding-top: 10px;
}
