<div class="navbar-header">
  <%= image_tag "img3.jpg", style: "height: 50px;" %>
</div>
<div class="navbar-header">
  <%= link_to collections_path, class: "navbar-brand" do %>
      <strong>Bashkoff Family Website</strong>
  <% end %>
</div>
