<%= link_to image_tag("fivestreet.png", alt: "5St", style: "float: left; margin-left: -5px; max-height: 45px; max-width: 45px") %>
<a class="navbar-brand" href="<%= admin_root_url %>">
  <small>FiveStreet | AggregateInfo.com</small>
</a>
