<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'maps', media: 'all' %>
  <%= javascript_include_tag 'maps' %>
  <script>
    $(document).ready(function() {
      $( "#progressbartest" ).progressbar({
        value: 37
      });
    });
  </script>

</head>
<body>
<div id="progressbartest" style="height:100px; width: 500px;">
  <%= yield %>
</div>
</body>
</html>
